<h1>Edit Fridge</h1>

<%= form_for @fridge, url: {action: "update"} do |fridge| %>
  
  <ul>

  <li>
  <%= fridge.label :location %>
  <%= fridge.text_field :location %>
  </li>
  <li>
  <%= fridge.label :brand %>
  <%= fridge.text_field :brand %>
  </li>
  <li>
  <%= fridge.label :size %>
  <%= fridge.text_field :size %>
  </li>

  </ul>

  <%= fridge.submit "Update" %>
<% end %>