<h1><%= @fridge.location%> Fridge</h1> 

<%= link_to("Edit", "/fridges/#{@fridge.id}/edit") %>
<br>
<%= link_to("Delete", "/fridges/"+@fridge.id.to_s, method: :delete) %>

<hr>

<p>
<h3>Stats:</h3>

<ul>
<li><i>Brand:</i> <%= @fridge.brand%></li>

<li><i>Size:</i> <%= @fridge.size%> cbft.</li>
</ul>

</p>

<a href="/fridges/">Go Back</a>


<hr>

<h2>Food in Fridge</h2>
<div>
<%= link_to("Take a peak inside!", "/fridges/#{@fridge.id}/foods")%>
</div>

